APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

TWITCH_CLIENT_ID=client_id
TWITCH_CLIENT_SECRET=secret
TWITCH_REDIRECT_URI=http://example.com/login

CHANNEL_DOMAIN=example.com
AUTH_DOMAIN=auth.example.com

API_KEY=SomeString